.custom-modal-backdrop {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    .custom-modal {
        z-index: 200;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        max-width: 92%;
        height: clamp(250px, 72%, 750px);
        padding: 1em 1.25em;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        margin-top: 10vh;
        color: var(--primary-font-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: var(--primary-color);
        overflow-x: hidden;
        overflow-y: auto;

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: var(--secondary-color);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        article {
            margin: 1.4rem 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5em;
            padding: 1em;
            border: 1px solid var(--border-color);
            color: var(--primary-color);
            background-color: var(--secondary-color);
        }

        li {
            padding-left: 1em;
        }

        button {
            margin: 0 5px;
        }

        .img-container {
            position: relative;
            height: clamp(200px, 25vh, 300px);

            img {
                height: 100%;
            }
        }

        .close-button {
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
            font-size: medium;
            padding: 0.5rem 1rem;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                filter: brightness(1.25);
            }
        }

        .custom-modal-header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 4em;
            padding: 10px;
            color: white;
            border: none;
            border-radius: 0;
            background-color: transparent;
        }

        .custom-modal-title {
            font-family: custom-bold;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }

        .custom-modal-content {
            position: relative;
            width: 100%;
            max-width: 55ch;
            flex-grow: 1;
            line-height: 1.5em;
            border: none;
            border-radius: 0;
            background-color: transparent;

            p {
                padding: 0;
                margin: 1em 0;
                line-height: 1.5em;
            }
        }
    }
}
