.Modal {
    z-index: 200;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 72%;
    padding: 1.5em;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 10vh;
    color: var(--primary-font-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    overflow-x: hidden;
    overflow-y: auto;

    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        color: white;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--secondary-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    button {
        margin: 0 5px;
    }

    .img-container {
        position: relative;
        height: clamp(200px, 10vh, 300px);

        img {
            height: 100%;
            animation: fadeIn 2s ease-in-out;
        }
    }

    .close-button {
        font-size: medium;
        padding: 0.5rem 1rem;
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.25);
        }
    }

    .title {
        font-family: custom-bold;
        font-size: 2em;
        margin: 20px 0;
        padding: 0;
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 55ch;

        line-height: 1.5em;

        p {
            padding: 0;
            margin: 0;
        }
    }
}
