.Loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s ease-in-out;

    p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fee715;
        font-size: 1.25rem;
        font-style: italic;
    }

    .wreath {
        width: 25vh;
        height: 25vh;
        animation: rotate 10s linear infinite;

        path {
            fill: #fee715;
        }
    }
}
