.LettersDraggable {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    overflow-y: hidden;
    height: 100%;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );

    ol {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: grab;

        li {
            width: 3rem;
            height: 3rem;
            color: var(--primary-font-color);
            text-align: center;
            background-color: var(--primary-highlight-color);
            padding: 0.5rem;
            user-select: none;
        }
    }
}
