main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font: 16px sans-serif;
    padding: 10px;
}

@media screen and (min-width: 1000px) {
    main {
        padding: 25px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
