main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	font: 16px sans-serif;
	padding: 25px;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.rot-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10%;
	height: 100%;

	> * {
		width: 100%;
		font-size: 1.5rem;
	}
}

.textarea-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	height: 100%;
	color: #fff;
	background-color: var(--primary-color);
	border: 1px solid #cccccc40;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

	&#original-textarea-section:focus-within {
		border-color: var(--primary-highlight-color);
	}

	&#rotated-textarea-section:focus-within {
		animation: border-fade-out 1.1s forwards linear;
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		padding: 0.625rem 0.75rem 0.5rem 0.75rem;
		text-align: left;
		font-family: custom-bold;
		font-size: 1.45rem;
	}

	.textarea-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;

		> textarea {
			flex-grow: 1;
			width: 100%;
			height: 100%;
			color: inherit;
			font-size: 1rem;
			background-color: transparent;
			resize: none;
			outline: transparent;
			padding: 0 0.75rem;
			border: none;

			&::selection {
				color: var(--primary-font-color);
				background-color: #c831ff;
			}

			&#rotated-text {
				cursor: copy;
			}

			&#rotated-text:hover {
				color: #c831ff;
			}
		}

		.pills {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 0.5rem;
			width: 100%;
			padding: 0.5rem 0.75rem;
		}

		.pill-wrapper {
			position: relative;
		}

		.pill {
			cursor: pointer;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 0.35rem;
			padding: 0.65rem 1.2rem;
			border: none;
			border-radius: 1.2rem;
			color: #fff;
			font-size: 1.05rem;
			background-color: var(--secondary-color);
		}

		.pill:hover,
		.pill:active {
			filter: brightness(1.3);
		}

		.pill-list {
			position: absolute;
			bottom: 125%;
			left: -0.65rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 0.75rem;
			list-style: none;
			padding: 0.7rem 1rem;
			margin: 0;
			color: var(--primary-font-color);
			background-color: var(--secondary-color);
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
				rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
		}

		.pill-list li {
			cursor: pointer;
		}

		.pill-list li:hover {
			color: #c831ff;
		}

		.popover {
			position: absolute;
			bottom: 125%;
			left: -0.65rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding: 0.7rem 1rem;
			background-color: var(--secondary-color);
			border-radius: 0.5rem;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
				rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
		}

		.popover > input {
			width: 100%;
			border: none;
			font-size: 1rem;
		}
	}

	hr {
		width: 100%;
		height: 1px;
		background-color: #cccccc40;
		border: none;
		margin: 0;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0.625rem 0.75rem 0.5rem 0.75rem;

		button {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 0.35rem;
			font-family: custom-medium;
			padding: 0.5rem 1rem;
			border: none;
			border-radius: 4px;
			background-color: var(--primary-highlight-color);
			color: white;
			font-size: 1rem;
			cursor: pointer;

			&:hover {
				filter: brightness(1.1);
			}

			&:active {
				filter: brightness(0.9);
			}

			.hidden {
				cursor: pointer;
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.icon {
				width: 1.34rem;
				height: 1.34rem;
			}
		}
	}
}

@keyframes border-fade-out {
	from {
		border-color: var(--primary-highlight-color);
	}

	to {
		border-color: #cccccc40;
	}
}
