@font-face {
    font-family: custom-thin;
    src: url("./assets/fonts/Urbanist-Thin.ttf");
}

@font-face {
    font-family: custom-light;
    src: url("./assets/fonts/Urbanist-Light.ttf");
}

@font-face {
    font-family: custom-regular;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
}

@font-face {
    font-family: custom-medium;
    src: url("./assets/fonts/Urbanist-Medium.ttf");
}

@font-face {
    font-family: custom-bold;
    src: url("./assets/fonts/Urbanist-Bold.ttf");
}

:root {
    --primary-color: #101820;
    --secondary-color: #fee715;
    --tertiary-color: #ffffff;
    --quaternary-color: #ff5a5f;

    --font-color: var(--tertiary-color);
    --border-color: #fee71552;
    --highlight-font-color: var(--primary-color);
    --highlight-color: var(--secondary-color);
    --highlight-color-light: color-mix(
        in srgb,
        var(--highlight-color) 75%,
        white
    );
    --highlight-color-lighter: color-mix(
        in srgb,
        var(--highlight-color) 80%,
        white
    );

    --toastify-color-info: var(--highlight-color) !important;
    --toastify-text-color-light: var(--font-color) !important;
    --toastify-color-light: var(--secondary-color) !important;
}

* {
    box-sizing: border-box;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

html {
    font-family: custom-regular, sans-serif;
    color: var(--font-color);
    background-color: var(--primary-color);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:disabled {
    background-color: var(--border-color) !important;
    cursor: not-allowed !important;
}

.Toastify__close-button--light {
    opacity: 0.8 !important;
    color: var(--font-color) !important;
}
