.textarea-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 36.5%;
    height: 100%;
    color: var(--font-color);
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    &#original-textarea-section:focus-within {
        border-color: var(--highlight-color);
    }

    &#rotated-textarea-section:focus-within {
        animation: border-fade-out 1.1s forwards linear;
    }

    label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0.625rem 0.75rem 0.5rem 0.75rem;
        border-bottom: 1px solid var(--border-color);
        text-align: left;
        font-family: custom-bold;
        font-size: 1rem;
    }

    @media screen and (min-width: 1000px) {
        & label {
            font-size: 1.45rem;
        }
    }

    .clickaway {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .textarea-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 0.625rem;

        > textarea {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            color: inherit;
            font-size: 0.8rem;
            background-color: transparent;
            resize: none;
            outline: transparent;
            padding: 0 0.75rem;
            border: none;
            caret-color: var(--highlight-color-light);

            &#rotated-text {
                cursor: copy;
            }

            &#rotated-text:hover {
                opacity: 0.6;
            }
        }

        @media screen and (min-width: 1000px) {
            & > textarea {
                font-size: 1rem;
            }
        }

        .pills {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            padding: 0.5rem 0.75rem;
        }

        .pill-wrapper {
            position: relative;
        }

        .pill {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            padding: 0.25rem 0.5rem;
            border: none;
            border-radius: 1.2rem;
            font-size: 0.8rem;
            color: var(--highlight-font-color);
            background-color: var(--highlight-color);

            .icon {
                fill: var(--primary-color);
                width: 1rem;
                height: 1rem;
            }

            .text {
                display: none;
            }

            @media screen and (min-width: 1000px) {
                & {
                    gap: 0.35rem;
                    font-size: 1rem;
                    padding: 0.65rem 1.2rem;
                }

                & .icon {
                    display: none;
                }

                & .text {
                    display: inline;
                }
            }
        }

        .pill:hover,
        .pill:active {
            filter: brightness(1.25);
        }

        .pill.open {
            z-index: 101;
            opacity: 0.8;
            background-color: var(--highlight-color);
        }

        .pill.inverse {
            color: var(--highlight-color);
            background-color: var(--highlight-font-color);
            padding: 0.3rem 0.7rem;
            border: 1px solid var(--border-color);

            .icon {
                display: none;
                position: absolute;
                top: 5%;
                right: 10%;
                fill: var(--highlight-color);
                width: 0.8rem;
            }

            @media screen and (min-width: 1000px) {
                & {
                    padding: 0.65rem 2rem;
                }

                .icon {
                    display: inline;
                    width: 1rem;
                }
            }
        }

        .pill-list {
            z-index: 102;
            position: absolute;
            bottom: 125%;
            left: -0.65rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.75rem;
            list-style: none;
            padding: 0.7rem 1rem;
            margin: 0;
            border-radius: 4px;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
                rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        }

        .pill-list li {
            cursor: pointer;
        }

        .pill-list li:hover {
            font-style: oblique;
            scale: 1.05;
        }

        input.popover {
            position: absolute;
            bottom: 125%;
            left: -0.65rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0.7rem 1rem;
            background-color: var(--secondary-color);
            box-shadow: #0000001a 0 1px 3px, #0000000f 0 1px 2px;
            border: none;
            color: var(--font-color);
            font-size: 1rem;
        }

        input.popover:focus {
            outline: 1px solid var(--highlight-color);
        }
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
        border: none;
        margin: 0;
    }

    .buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.625rem 0.75rem 0.5rem 0.75rem;

        button {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            width: 47%;
            font-family: custom-medium;
            padding: 0.25rem 0.65rem;
            border: none;
            border-radius: 4px;
            color: var(--highlight-font-color);
            background-color: var(--highlight-color);
            font-size: 0.8rem;
            cursor: pointer;

            @media screen and (min-width: 1000px) {
                & {
                    gap: 0.35rem;
                    font-size: 1rem;
                    padding: 0.65rem 1rem;
                    width: auto;
                }
            }

            &:hover {
                filter: brightness(1.25);
            }

            &:active {
                filter: brightness(0.9);
            }

            .hidden {
                cursor: pointer;
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .icon {
                fill: var(--highlight-font-color);
                width: 1rem;
                height: 1rem;
            }

            @media screen and (min-width: 1000px) {
                & .icon {
                    width: 1.34rem;
                    height: 1.34rem;
                }
            }

            .text {
                display: none;
            }

            @media screen and (min-width: 1000px) {
                & .text {
                    display: inline;
                }
            }
        }
    }
}

@keyframes border-fade-out {
    from {
        border-color: var(--highlight-color);
    }

    to {
        border-color: var(--border-color);
    }
}
